@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");
/*Variable*/

:root {
    /*Color*/
    --primary: #0065FC;
    --bs-color: #595959   /*box-shadow color*/
}

/*Base*/

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Raleway", "sans-serif";
}

a {
    text-decoration: none;
    color: inherit;
}

h1, h2, h3, p {
    margin: 0
}

button, input {
    outline: none;
}

/*Image card*/

.result--img1 {
    background-image: url("../asset/img/hebergements/marcus-loke-WQJvWU_HZFo-unsplash.jpg");
}

.result--img2 {
    background-image: url("../asset/img/hebergements/fred-kleber-gTbaxaVLvsg-unsplash.jpg");
}

.result--img3 {
    background-image: url("../asset/img/hebergements/reisetopia-B8WIgxA_PFU-unsplash.jpg");
}

.result--img4 {
    background-image: url("../asset/img/hebergements/annie-spratt-Eg1qcIitAuA-unsplash.jpg");
}

.result--img5 {
    background-image: url("../asset/img/hebergements/nicate-lee-kT-ZyaiwBe0-unsplash.jpg");
}

.result--img6 {
    background-image: url("../asset/img/hebergements/febrian-zakaria-M6S1WvfW68A-unsplash.jpg");
}

.popular--img1 {
    background-image: url("../asset/img/hebergements/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg");
}

.popular--img2 {
    background-image: url("../asset/img/hebergements/aw-creative-VGs8z60yT2c-unsplash.jpg");
}

.popular--img3 {
    background-image: url("../asset/img/hebergements/febrian-zakaria-sjvU0THccQA-unsplash.jpg");
}

.activity--img1 {
    background-image: url("../asset/img/activités/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg");
}

.activity--img2 {
    background-image: url("../asset/img/activités/paul-hermann-QFTrLdQIRhI-unsplash.jpg");
}

.activity--img3 {
    background-image: url("../asset/img/activités/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg");
}

.activity--img4 {
    background-image: url("../asset/img/activités/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg");
}

.activity--img5 {
    background-image: url("../asset/img/activités/florian-wehde-xW9e8gdotxI-unsplash.jpg");
}

.activity--img6 {
    background-image: url("../asset/img/activités/lena-paulin-wH2-EJoDcV0-unsplash.jpg");
}

.header {
    display: grid;
    grid-template-areas: "logo . . navbar sign-up";
    grid-template-columns: 1fr auto auto 1fr 103px;
    align-items: center;
    margin: 0 50px
}

.header--logo {
    grid-area: logo;
}

.header__navbar {
    display: flex;
    justify-self: flex-end;
    grid-area: navbar;
}

.header__sign-up {
    grid-area: sign-up;
}

.header__navbar--link {
    display: flex;
    align-items: center;
    padding: 0 16px;
    height: 120px;
}

.header__navbar--link:nth-child(1) {
    border-top: 2px solid var(--primary);
    color: var(--primary);
}

.header__sign-up {
    font-weight: bold;
    color: var(--primary);
    padding: 16px;
}

.main {
    margin: 0 50px
}

.main__title h1 {
    font-size: 28px;
}

.main__title p {
    padding: 8px 0;
    font-size: 18px;
}

.main__search__input {
    display: flex;
    height: 50px;
    margin: 10px 0;
}

.main__search--icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-width: 50px;
    background-color: #F2F2F2;
    border-radius: 15px 0 0 15px;
}

.main__search--input {
    height: 48px;
    min-width: 100px;
    border: 0.5px solid #F2F2F2;
    padding: 0 16px;
    font-weight: 700;
}

.main__search--input::placeholder {
    color: #000;
}

.main__search--btn {
    height: 100%;
    color: white;
    font-weight: bold;
    background-color: var(--primary);
    border: none;
    border-radius: 0 15px 15px 0;
    padding: 16px;
    cursor: pointer;
}

.main__search--btn i {
    display: none;
}

.main__search__filter {
    display: flex;
    align-items: center;
}

.main__search__filter h3 {
    margin: 15px 15px 15px 0;
}

.main__search__filter__section {
    display: flex;
    align-items: center;
    height: 45px;
    margin: 15px;
    border: 2px solid #eeeeee;
    border-radius: 50px;
    transition: box-shadow 0.3s;
}

.main__search__filter__section:hover {
    box-shadow: 2px 4px 11px -6px var(--bs-color);
}

.main__search__filter__section--wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.main__search__filter__section--icon {
    background-color: #DEEBFF;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-width: 45px;
    font-size: 20px;
    border-radius: 50px;
}

.main__search__filter__section--icon i {
    color: var(--primary);
}

.main__search__filter__section span {
    margin: 10px;
    font-weight: bold;
}

.main__info {
    display: flex;
    margin-top: 30px;
}

.main__info span {
    font-size: 15px;
}

.main__info--icon {
    border: 1px solid #F2F2F2;
    min-width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -3px 10px 0 0
}

.main__info--icon i {
    font-size: 12px;
    color: var(--primary)
}

.main__hbg {
    display: grid;
    grid-template-areas: "result result popular" "result result popular";
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 45px;
    column-gap: 50px;
    justify-content: space-between;
}

.main__hbg__result {
    grid-area: result;
    background-color: #F2F2F2;
    border-radius: 25px;
    padding: 30px;
}

.main__hbg__result--title {
    margin: 16px 0;
}

.main__hbg__result__cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    row-gap: 30px;
    column-gap: 30px;
}

.main__hbg__result--card {
    min-width: 180px;
    min-height: 200px;
    border-radius: 25px;
    padding: 5px;
    background-color: #fff;
    box-shadow: 0px 4px 11px -6px var(--bs-color);
}

.main__hbg__result--card-img {
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 120px;
    border-radius: 25px 25px 0 0;
}

.main__hbg__result--card-content {
    margin: 5px 0 5px 10px;
}

.main__hbg__result--card-content div {
    margin-top: 7px;
}

.main__hbg__result--card-name {
    font-weight: bold;
}

.main__hbg__result--card-price {
    font-size: 14px
}

.main__hbg__result--card-star i {
    color: #F2F2F2;
    font-size: 12px;
}

.main__hbg__result--card-star i[data-star='true'] {
    color: var(--primary);
}

.main__hbg__result--more-result {
    margin-top: 35px;
    font-weight: bold;
    cursor: pointer;
}

.main__hbg__popular {
    grid-area: popular;
    background-color: #F2F2F2;
    border-radius: 25px;
    padding: 30px;
}

.main__hbg__popular--title {
    margin: 16px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main__hbg__popular--title i {
    font-size: 24px;
}

.main__hbg__popular__cards {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 30px;
    row-gap: 30px;
}

.main__hbg__popular--card {
    display: grid;
    grid-template-columns: auto 2fr;
    height: 145px;
    border-radius: 20px;
    padding: 5px;
    box-shadow: 0px 4px 11px -6px var(--bs-color);
    background-color: #fff;
}

.main__hbg__popular--card-img {
    width: 125px;
    border-radius: 20px 0 0 20px;
    background-size: cover;
    background-position: center;
}

.main__hbg__popular--card-content {
    padding: 15px 10px 5px 15px;
    display: flex;
    flex-direction: column;
}

.main__hbg__popular--card-name {
    font-weight: bold;
    flex-grow: 1;
}

.main__hbg__popular--card-price {
    font-size: 14px;
    margin: 10px 0 5px 0;
    flex-grow: 3;
}

.main__hbg__popular--card-star {
    color: #F2F2F2;
    font-size: 12px;
}

.main__hbg__popular--card-star i[data-star='true'] {
    color: var(--primary);
}

.main__activity {
    margin: 60px 0;
}

.main__activity__cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(10, 10px);
    column-gap: 40px;
    row-gap: 40px;
    margin: 30px 0;
}

.main__activity--card {
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    box-shadow: 0px 4px 11px -6px var(--bs-color);
}

.main__activity--card:nth-child(1) {
    grid-row: 1/11;
}

.main__activity--card:nth-child(2) {
    grid-row: 1/7;
}

.main__activity--card:nth-child(3) {
    grid-row: 7/11;
}

.main__activity--card:nth-child(4) {
    grid-row: 1/11;
    grid-column: 3;
}

.main__activity--card:nth-child(5) {
    grid-row: 1/6;
}

.main__activity--card:nth-child(6) {
    grid-row: 6/11;
}

.main__activity--card-content {
    padding: 20px;
    font-weight: bold;
}

.main__activity--card-img {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    border-radius: 25px 25px 0 0
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #F2F2F2;
    padding: 50px;
    column-gap: 10px;
}

.footer__section {
    display: flex;
    flex-direction: column;
}

.footer__section--title {
    font-weight: bold;
    margin: 15px 0;
}

.footer__section a {
    margin: 7px 0;
}

/*///////Tablette\\\\\\*/

@media only screen and (min-width: 768px) and (max-width: 1280px) {
    .header {
        margin: 0 30px;
    }
    .main {
        margin: 0
    }
    .main__title {
        margin: 0 30px;
    }
    .main__search {
        margin: 30px;
    }
    .main__search__filter {
        display: block
    }
    .main__search__filter__section {
        margin: 5px;
    }
    .main__hbg {
        grid-template-areas: "popular popular popular" "result result result";
    }
    .main__hbg__result {
        background-color: #fff;
    }
    .main__hbg__result__cards {
        grid-template-columns: 1fr 1fr
    }
    .main__hbg__result--card-img {
        height: 200px;
    }
    .main__hbg__popular {
        margin-left: 0;
        border-radius: 0;
    }
    .main__hbg__popular__cards {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
    }
    .main__activity {
        padding: 20px;
    }
    .main__activity__cards {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(4, 200px);
        column-gap: 30px;
        row-gap: 30px;
    }
    .main__activity--card:nth-child(1) {
        grid-row: 1/3;
        grid-column: 1;
    }
    .main__activity--card:nth-child(2) {
        grid-row: 1/2;
        grid-column: 2;
    }
    .main__activity--card:nth-child(3) {
        grid-row: 2/3;
        grid-column: 2;
    }
    .main__activity--card:nth-child(4) {
        grid-row: 3/4;
        grid-column: 1;
    }
    .main__activity--card:nth-child(5) {
        grid-row: 4/5;
        grid-column: 1;
    }
    .main__activity--card:nth-child(6) {
        grid-row: 3/5;
        grid-column: 2;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .main__hbg__popular__cards {
        grid-template-columns: 1fr 1fr;
    }
}

/*\\\\\\Smartphone//////*/

@media only screen and (max-width: 767px) {
    .header {
        margin: 0 0 30px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "logo sign-up" "navbar navbar";
        align-items: center;
    }
    .header--logo {
        padding: 16px;
    }
    .header__navbar {
        justify-content: space-around;
        width: 100%;
    }
    .header__navbar--link {
        width: 100%;
        justify-content: center;
        height: auto;
        border-bottom: 2px solid var(--primary);
        padding: 16px;
    }
    .header__navbar--link:nth-child(1) {
        border-top: none;
    }
    .header__navbar--link:nth-child(2) {
        border-bottom: 2px solid #F2F2F2;
    }
    .header__sign-up {
        justify-self: flex-end;
    }
    .main {
        margin: 0
    }
    .main__title {
        margin: 0 20px;
    }
    .main__title h1 {
        font-size: 21px;
        margin-bottom: 5px
    }
    .main__search {
        margin: 0 20px
    }
    .main__search--btn span {
        display: none;
    }
    .main__search--btn i {
        display: block;
    }
    .main__search__filter {
        display: block
    }
    .main__search__filter__section {
        margin: 5px;
    }
    .main__hbg {
        grid-template-areas: "popular popular popular" "result result result";
    }
    .main__hbg__result {
        background-color: #fff;
        padding: 16px;
    }
    .main__hbg__result__cards {
        grid-template-columns: 1fr;
        row-gap: 10px;
    }
    .main__hbg__popular {
        margin-left: 0;
        border-radius: 0;
        padding: 16px;
    }
    .main__hbg__popular__cards {
        row-gap: 10px;
    }
    .main__activity {
        padding: 16px;
        margin: 0;
    }
    .main__activity__cards {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 200px);
        column-gap: 30px;
        row-gap: 30px;
    }
    .main__activity--card:nth-child(1) {
        grid-column: auto;
        grid-row: auto;
    }
    .main__activity--card:nth-child(2) {
        grid-column: auto;
        grid-row: auto;
    }
    .main__activity--card:nth-child(3) {
        grid-row: auto;
        grid-column: auto;
    }
    .main__activity--card:nth-child(4) {
        grid-row: auto;
        grid-column: auto;
    }
    .main__activity--card:nth-child(5) {
        grid-row: auto;
        grid-column: auto;
    }
    .main__activity--card:nth-child(6) {
        grid-row: auto;
        grid-column: auto;
    }
    .footer {
        grid-template-columns: 1fr;
    }
}