@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");
body {
    font-family: "Raleway", "sans-serif";
}

a {
    text-decoration: none;
    color: inherit;
}

h1, h2, h3 {
    margin: 0
}

button, input {
    outline: none;
}

.header {
    display: grid;
    grid-template-areas: "logo . . navbar";
    align-items: center;
    margin: 0 50px
}

.header--logo {
    grid-area: logo;
}

.header__navbar {
    display: flex;
    justify-self: flex-end;
    grid-area: navbar;
}

.header__navbar-mobile {
    display: none;
    grid-area: mobile;
    justify-content: space-around;
}

.header__navbar--link {
    display: flex;
    align-items: center;
    padding: 0 20px;
    height: 7rem;
}

.header__navbar--link:nth-child(1) {
    border-top: 2px solid #0065FC;
    color: #0065FC;
}

.header__navbar--link:nth-child(3) {
    font-weight: bold;
    color: #0065FC;
}

.header__navbar-mobile--link {
    border-bottom: 2px solid #0065FC;
    width: 100%;
    text-align: center;
    padding: 15px;
}

.header__navbar-mobile--link:nth-child(2) {
    border-bottom: 2px solid #F2F2F2;
}

.main {
    margin: 0 50px
}

.main__title h1 {
    font-size: 28px;
}

.main__title p {
    margin: 0;
    padding: 10px 0;
    font-size: 18px;
}

.main__search__input {
    display: flex;
    height: 50px;
    margin: 10px 0;
}

.main__search--icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-width: 50px;
    background-color: #F2F2F2;
    border-radius: 15px 0 0 15px;
}

.main__search--input {
    height: 48px;
    min-width: 100px;
    border: 0.5px solid #F2F2F2;
    outline: none;
    padding: 0 15px;
    font-size: 20px;
}

.main__search--btn {
    height: 100%;
    color: white;
    font-weight: bold;
    background-color: #0065FC;
    border: none;
    border-radius: 0 15px 15px 0;
    padding: 15px;
}

.main__search--btn i {
    display: none;
}

.main__search__filter {
    display: flex;
    align-items: center;
}

.main__search__filter h3 {
    margin: 15px 15px 15px 0;
}

.main__search__filter__section {
    display: flex;
    align-items: center;
    height: 45px;
    margin: 15px;
    border: 2px solid #eeeeee;
    border-radius: 50px;
}

.main__search__filter__section--wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.main__search__filter__section--icon {
    background-color: #DEEBFF;
    display: flex;
    align-items: center;
    justify-content: center;
    height: inherit;
    width: 45px;
    font-size: 20px;
    border-radius: 50px;
}

.main__search__filter__section--icon i {
    color: #0065FC;
}

.main__search__filter__section span {
    margin: 10px;
    font-weight: bold;
}

.main__info {
    display: flex;
    margin-top: 30px;
}

.main__info span {
    font-size: 15px;
}

.main__info--icon {
    border: 1px solid #F2F2F2;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -3px 10px 0 0
}

.main__info--icon i {
    font-size: 12px;
    color: #0065FC;
}
.main__hbg {
    display: grid;
    grid-template-areas: "result result popular" "result result popular";
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 45px;
    justify-content: space-between;
}

.main__hbg__result {
    grid-area: result;
    background-color: #F2F2F2;
    border-radius: 25px;
    padding: 20px;
}

.main__hbg__result--title {
    margin: 16px 0 25px 20px;
}

.main__hbg__result__cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
}

.main__hbg__result--card {
    min-width: 180px;
    min-height: 200px;
    border-radius: 25px;
    padding: 5px;
    background-color: #fff;
    margin: 15px;
    box-shadow: 0px 0px 5px -1px rgb(179, 179, 179);
}

.main__hbg__result--card-img {
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 120px;
    border-radius: 25px 25px 0 0;
}

.result--img1 {
    background-image: url("/asset/img/hebergements/marcus-loke-WQJvWU_HZFo-unsplash.jpg");
}

.result--img2 {
    background-image: url("/asset/img/hebergements/fred-kleber-gTbaxaVLvsg-unsplash.jpg");
}

.result--img3 {
    background-image: url("/asset/img/hebergements/reisetopia-B8WIgxA_PFU-unsplash.jpg");
}

.result--img4 {
    background-image: url("/asset/img/hebergements/annie-spratt-Eg1qcIitAuA-unsplash.jpg");
}

.result--img5 {
    background-image: url("/asset/img/hebergements/nicate-lee-kT-ZyaiwBe0-unsplash.jpg");
}

.result--img6 {
    background-image: url("/asset/img/hebergements/febrian-zakaria-M6S1WvfW68A-unsplash.jpg");
}

.main__hbg__result--card-content {
    margin: 5px 0 5px 10px;
}

.main__hbg__result--card-content div {
    margin-top: 7px;
}

.main__hbg__result--card-name {
    font-weight: bold;
}

.main__hbg__result--card-star i {
    color: #F2F2F2;
    font-size: 12px;
}

.main__hbg__result--card-star i[data-star='true'] {
    color: #0065FC;
}

.main__hbg__result--more-result {
    margin: 35px 25px;
    font-weight: bold;
}

.main__hbg__popular {
    grid-area: popular;
    background-color: #F2F2F2;
    border-radius: 25px;
    margin-left: 50px;
    padding: 20px;
}

.main__hbg__popular--title {
    margin: 16px 20px 25px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main__hbg__popular--title i {
    font-size: 24px;
}

.main__hbg__popular__cards {
    display: grid;
    grid-template-columns: 1fr;
}

.main__hbg__popular--card {
    display: grid;
    grid-template-columns: auto 2fr;
    height: 145px;
    border-radius: 20px;
    padding: 5px;
    margin: 15px;
    box-shadow: 0px 0px 5px -1px rgb(179, 179, 179);
    background-color: #fff;
}

.main__hbg__popular--card-img {
    width: 125px;
    border-radius: 20px 0 0 20px;
    background-size: cover;
    background-position: center;
}

.popular--img1 {
    background-image: url("/asset/img/hebergements/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg");
}

.popular--img2 {
    background-image: url("/asset/img/hebergements/aw-creative-VGs8z60yT2c-unsplash.jpg");
}

.popular--img3 {
    background-image: url("/asset/img/hebergements/febrian-zakaria-sjvU0THccQA-unsplash.jpg");
}

.main__hbg__popular--card-content {
    padding: 15px 10px 5px 15px;
    display: flex;
    flex-direction: column;
}

.main__hbg__popular--card-name {
    font-weight: bold;
    flex-grow: 1;
}

.main__hbg__popular--card-price {
    font-size: 14px;
    margin: 10 0 5px 0;
    flex-grow: 3;
}

.main__hbg__popular--card-star {
    color: #F2F2F2;
    font-size: 12px;
}

.main__hbg__popular--card-star i[data-star='true'] {
    color: #0065FC;
}

@media only screen and (min-width: 768px) and (max-width: 1280px) {
    .header {
        margin: 0 30px;
    }
    .main {
        margin: 0
    }
    .main__title {
        margin: 0 30px;
    }
    .main__search {
        margin: 30px;
    }
    .main__search__filter {
        display: block
    }
    .main__search__filter__section {
        margin: 5px;
    }
}



@media only screen and (max-width: 767px) {
    .header {
        margin: 0 0 30px;
        display: grid;
        grid-template-areas: "logo navbar" 
                             "mobile mobile ";
        align-items: center;
    }
    .header--logo {
        margin: 0 22px
    }
    .header__navbar {
        margin: 0 15px;
    }
    .header__navbar-mobile {
        display: flex;
    }
    .header__navbar--link:nth-child(3) {
        padding: 0 5px;
    }
    .header__navbar--link:nth-child(1), .header__navbar--link:nth-child(2) {
        display: none;
    }
    .main {
        margin: 0
    }
    .main__title {
        margin: 0 20px;
    }
    .main__title h1 {
        font-size: 21px;
        margin-bottom: 5px
    }
    .main__search {
        margin: 0 20px
    }
    .main__search--btn span {
        display: none;
    }
    .main__search--btn i {
        display: block;
    }
    .main__search__filter {
        display: block
    }
    .main__search__filter__section {
        margin: 5px;
    }
}